/* Global Resets */
* {
    outline: none !important;
    -moz-outline: none !important;
}
html, body {
    height: 100%;
}

/* Main Layout */
body {
    overflow-x: hidden;
    margin-top: -10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000000;
}
a {
    color: #000000;
}
a:hover, a:focus {
    text-decoration: none;
    color: #00d0ff;
}

/* Header */
#header {
    height: 77px;
    position: relative;
    width: 100%;
    z-index: -9;
}
#search {
    position: absolute;
    z-index: 25;
    top: 6px;
    right: 10px;
}
#search input[type=text] {
    padding: 4px 10px 5px;
    border: 0;
    width: 100px;
}
#search button {
    border: 0;
    margin-left: -3px;
    margin-top: -11px;
    padding: 5px 10px 4px;
}
#search button i {
    opacity: 0.8;
    color: #fff;
}
#search button:hover i, #search button:active i {
    opacity: 1;
}

/* Sidebar Navigation */
#sidebar {
    display: block;
    float: left;
    width: 220px;
    position: absolute;
    top: 19px;
    left: 0;
}
#sidebar > ul {
    list-style: none;
    margin: 0px 0 0;
    padding: 0;
    position: absolute;
    width: 220px;
}
#sidebar > ul > li {
    display: block;
    position: relative;
}
#sidebar > ul > li > a {
    padding: 10px 0 10px 15px;
    display: block;
    color: #939da8;
}
#sidebar > ul > li > a > i {
    margin-right: 10px;
}
#sidebar > ul > li.active > a {
    background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
    text-decoration: none;
}
#sidebar > ul > li > a > .label {
    margin: 0 20px 0 0;
    float: right;
    padding: 3px 5px 2px;
}
#sidebar > ul li ul {
    display: none;
    margin: 0;
    padding: 0;
}
#sidebar > ul li.open ul {
    display: block;
}
#sidebar > ul li ul li a {
    padding: 10px 0 10px 25px;
    display: block;
    color: #777777;
}
#sidebar > ul li ul li:first-child a {
    border-top: 0;
}
#sidebar > ul li ul li:last-child a {
    border-bottom: 0;
}

/* Content */
#content {
    background: none repeat scroll 0 0 #eeeeee;
    margin-left: 220px;
    margin-right: 0;
    padding-bottom: 25px;
    position: relative;
    min-height: 100%;
    width: auto;
}
#content-header {
    position: absolute;
    width: 100%;
    margin-top: -38px;
    z-index: 20;
}
#content-header h1 {
    color: #555555;
    font-size: 28px;
    font-weight: normal;
    float: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-left: 20px;
    position: relative;
}
#content-header .btn-group {
    float: right;
    right: 20px;
    position: absolute;
}
#content-header h1, #content-header .btn-group {
    margin-top: 20px;
}
#content-header .btn-group .btn {
    padding: 11px 14px 9px;
}
#content-header .btn-group .btn .label {
    position: absolute;
    top: -7px;
}
.container-fluid .row-fluid:first-child {
    margin-top: 20px;
}

/* Breadcrumb */
#breadcrumb {
    background-color: #fff;
    border-bottom: 1px solid #e3ebed;
    margin-bottom: 5px;
}
#breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background-image: url('../img/breadcrumb.png');
    background-position: center right;
    background-repeat: no-repeat;
    font-size: 11px;
    color: #666666;
}
#breadcrumb a:hover {
    color: #333333;
}
#breadcrumb a:last-child {
    background-image: none;
}
#breadcrumb a.current {
    font-weight: bold;
    color: #444444;
}
#breadcrumb a i {
    margin-right: 5px;
    opacity: 0.6;
}
#breadcrumb a:hover i {
    margin-right: 5px;
    opacity: 0.8;
}

/* Widgets */
.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
.widget-title, .modal-header, div.dataTables_wrapper .ui-widget-header {
    background: #efefef;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
    padding: 9px 10px 7px 11px;
    float: left;
    border-right: 1px solid #dadada;
}
.widget-title h5 {
    color: #666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
    float: right;
    margin: 8px 10px 0 0;
}
.widget-title .label {
    padding: 3px 5px 2px;
    float: right;
    margin: 9px 11px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-content {
    padding: 15px;
    border-bottom: 1px solid #cdcdcd;
}

/* Tables */
.table th {
    height: auto;
    font-size: 10px;
    padding: 5px 10px 2px;
    border-bottom: 0;
    text-align: center;
    color: #ffffff;
}
.table tr:hover {
    background: #85bfc4;
}

/* Forms */
form {
    margin-bottom: 0;
}
.form-horizontal .control-group {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0;
}
.form-horizontal .control-group:last-child {
    border-bottom: 0;
}
.form-horizontal .control-label {
    padding-top: 15px;
    width: 180px;
}
.form-horizontal .controls {
    margin-left: 200px;
    padding: 10px 0;
}
.form-horizontal .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}
.help-block, .help-inline {
    color: #999999;
}

/* Buttons and Inputs */
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert {
    border-radius: 0px;
}

/* Charts */
.chart-container {
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Responsive Design */
@media (max-width: 480px) {
    #header h1 {
        top: 10px;
        left: 5px;
        margin: 3px auto;
    }
    #content {
        margin-left: 0 !important;
        border-top-left-radius: 0;
        margin-top: 0px;
    }
    #content-header {
        margin-top: 0;
        text-align: center;
    }
    #content-header h1, #content-header .btn-group {
        float: none;
    }
    #content-header h1 {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 0;
        padding-top: 15px;
        width: 100%;
    }
    #content-header .btn-group {
        margin-top: 70px;
        margin-bottom: 0;
        margin-right: 0;
        left: 30%;
    }
    #sidebar {
        float: none;
        width: 100% !important;
        display: block;
        position: relative;
        top: 0px;
    }
    #sidebar > ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: block;
        z-index: 999;
        position: relative;
    }
    #sidebar > ul > li {
        list-style-type: none;
        display: block;
        border-top: 1px solid #41BEDD;
        float: none !important;
        margin: 0px;
        position: relative;
        padding: 2px 10px;
        cursor: pointer;
    }
    #sidebar > ul > li:hover {
        background-color: #27a9e3;
    }
    #sidebar > ul > li:hover a {
        background: none;
    }
    #sidebar > ul li ul {
        margin: 0px;
        padding: 0px;
        top: 35px;
        left: 0px;
        z-index: 999;
        display: none;
        position: absolute;
        width: 100%;
        min-width: 100%;
        border-radius: none;
    }
    #sidebar > ul li ul li {
        list-style-type: none;
        margin: 0px;
        font-size: 12px;
        line-height: 30px;
    }
    #sidebar > ul li ul li a {
        display: block;
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
    #sidebar > ul li span {
        cursor: pointer;
        margin: 0px 2px 0 5px;
        font-weight: bold;
        color: #fff;
        font-size: 12px;
    }
    #sidebar > ul li a i {
        background-image: url("../img/glyphicons-halflings-white.png");
        margin-top: 4px;
        vertical-align: top;
    }
    #sidebar > a {
        padding: 9px 20px 9px 15px;
        display: block !important;
        color: #eeeeee;
        float: none !important;
        font-size: 12px;
        font-weight: bold;
    }
    #sidebar > ul > li > a {
        padding: 5px;
        display: block;
        color: #AAAAAA;
    }
    .widget-title .buttons > .btn {
        width: 11px;
        white-space: nowrap;
        overflow: hidden;
    }
    .form-horizontal .control-label {
        padding-left: 30px;
    }
    .form-horizontal .controls {
        margin-left: 0;
        padding: 10px 30px;
    }
    .form-actions {
        text-align: center;
    }
    .dataTables_paginate .ui-button, .pagination.alternate li a {
        padding: 4px 4px !important;
    }
    .table th {
        padding: 5px 4px 2px;
    }
}

@media (min-width: 481px) and (max-width: 970px) {
    body {
        background: #49CCED;
    }
    #header h1 {
        top: 10px;
        left: 35px;
    }
    #search {
        top: 5px;
    }
    #content {
        margin-top: 0px;
    }
    #sidebar > ul > li {
        float: none;
    }
    #sidebar > ul > li:hover ul {
        display: block;
    }
    #sidebar, #sidebar > ul {
        width: 43px;
        display: block;
        position: absolute;
        height: 100%;
        z-index: 1;
    }
    #sidebar > ul ul {
        display: none;
        position: absolute;
        left: 43px;
        top: 0;
        min-width: 150px;
        list-style: none;
    }
    #sidebar > ul ul li a {
        white-space: nowrap;
        padding: 10px 25px;
    }
    #sidebar > a {
        display: none !important;
    }
    #sidebar > ul > li > a > span {
        display: none;
    }
    #content {
        margin-left: 43px;
    }
}

@media (max-width: 600px) {
    .widget-title .buttons {
        float: left;
    }
    .panel-left {
        margin-right: 0;
    }
    .panel-right {
        border-top: 1px solid #DDDDDD;
        border-left: none;
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        width: auto;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0 !important;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    #search {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    [class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
    }
}

@media (max-width: 979px) {
    div.dataTables_wrapper .ui-widget-header {
        height: 68px;
    }
    .dataTables_filter {
        position: relative;
        top: 0px;
    }
    .dataTables_length {
        width: 100%;
        text-align: center;
    }
    .dataTables_filter, .dataTables_paginate {
        text-align: center;
    }
}